<h1>Current Reservations</h1>
<center><%= link_to "Make a Reservation", new_restaurant_reservation_path %> | <%= link_to "Back to Restaurants", restaurants_path %>
<% @reservations.each do |p| %>
	<p><li><%= link_to p.name, restaurant_reservation_path(p.restaurant_id, p.id) %> <%= p.booking_time %> </li></p> 
	
<% end %></center>